<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body >

<br>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{{ url_for("home_page") }}">Home</a>
        <a class="navbar-brand" href="{{ url_for("history_page") }}">History</a>
        <a class="navbar-brand" href="{{ url_for("login_page") }}">Log In</a>
        <a class="navbar-brand" href="{{ url_for("register") }}">Register</a>
    </nav>
</div>
{% block content %}

{% endblock %}
</body>
</html>